// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600');
$font_regular:   'Open Sans', Helvetica, sans-serif;
$font_semi_bold: 'OpenSansSemibold', Helvetica, sans-serif;
$font_light:     'OpenSansLight', Helvetica, sans-serif;

// colors
$grey:        #efefef;
$dark_grey:   #686868;
$chip_red:    #b94a48;
$chip_yellow: #f89406;
$chip_grey:   #c0c0c0;
$yellow_star: #f2ae43;
$dark_blue:   #162d3d;
$light_blue:  #98c1e3;
$bg_red:      #ef502e;
$nav_red:     #af3327;
$menu_blue:   #97c1e2;
$de_blue:     #5e92bb;
$nr_green:    #9cc100;
